<div class="col-md-10">
  <div class="card">
    <div class="card-header">
      <h5 class="title"><%= t('.title') %></h5>
    </div>
    <%= form_with scope: 'provider', url: admin_panel_update_provider_path, method: :put do |form| %>
      <%= render './././partials/provider_form', form: form %>
    <% end %>
  </div>
</div>
