<div class="container-fluid">
  <div id="main">
    <section id=news">
      <h3><%= t('.titles.news') %></h3>
      <div id="news_slideshow">
        <% @news.each do |new| %>
        <div>
          <%= image_tag new.photos.first %>
        </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
