@media screen and (max-width: 700px) {
  header {
    padding-top: 15px;
    padding-bottom: 1px;
  }

  #mobile-social-medias a img {
    width: 25px;
    height: 25px;
  }

  #mobile-social-medias a:nth-child(1) {
    margin-left: -45px;
  }

  #mobile-social-medias a:nth-child(2) {
    margin-left: 0px;
  }

  #mobile-social-medias a:nth-child(3) {
    margin-left: 45px;
  }

  #mobile-social-medias a:nth-child(4) {
    margin-left: 90px;
  }

  #mobile-social-medias a:nth-child(5) {
    margin-left: 135px;
  }

  #mobile-menu {
    display: initial;
    background: #591a59;
    margin-top: 0px;
    position: absolute;
    height: 100%;
  }

  #mobile-menu a {
    position: absolute;
    left: 92%;
    text-decoration: none;
  }

  #mobile-menu a span {
    display: block;
    background-color: #270027;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
    color: #fff;
    font-size: 30px;
  }

  #items-menu {
    display: none;
    position: absolute;
    width: 30%;
    padding-top: 80px;
    line-height: 40px;
  }

  #items-menu a {
    text-decoration: none;
  }

  #items-menu a p {
    font-variant: small-caps;
    color: #fff;
    font-size: 18px;
  }

  #items-menu hr {
    margin-left: 20px;
    margin-right: -150px;
  }

  #mobile-social-medias a img {
    width: 25px;
    height: 25px;
  }

  #mobile-social-medias a:nth-child(1) {
    margin-left: -45px;
  }

  #mobile-social-medias a:nth-child(2) {
    margin-left: 0px;
  }

  #mobile-social-medias a:nth-child(3) {
    margin-left: 45px;
  }

  #mobile-social-medias a:nth-child(4) {
    margin-left: 90px;
  }

  #mobile-social-medias a:nth-child(5) {
    margin-left: 135px;
  }

  #social-medias {
    display: none;
  }

  #language {
    display: none;
  }

  #mobile-language {
    top: 0;
    width: 100%;
    position: absolute;
    left: -50%;
  }

  #mobile-language a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
  }

  #mobile-language a:nth-child(2) {
    padding-left: 70px;
  }
}
