body {
  font-family: 'Lato', sans-serif;
}

header {
  height: 100px;
  background-color: #270027;
}

header img {
  margin: 25px 0px 0px 20px;
}

footer {
  display: block;
  height: 50px;
  background-color: #270027;
}

#social-medias {
  margin: 30px 20px 0px 0px;
  float: right;
}

#social-medias a img {
  height: 30px;
}

#main {
  background: url(../img/home.jpg) no-repeat center center;
  padding: 0;
  -webkit-background-size: cover;
  background-size: cover;
  -moz-background-size: cover;
}

#menu {
  background-color: #270027;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#menu ul {
  margin: 50px 30px 50px 0px;
  list-style-type: none;
}

#menu ul li {
  margin-top: 20px;
  text-align: right;
}

#menu ul li a {
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
}

#menu ul li a:hover {
  font-weight: 800;
}

#principal-article {
  margin: 5px;
}

#principal-article a {
  color: #fff;
}

#principal-article a:hover {
  text-decoration: none;
}

#principal-article aside:first-child {
  float: left;
  position: relative;
  z-index: 1;
}

#principal-article aside:first-child img {
  height: 400px;
}

#principal-article aside:last-child {
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  height: 400px;
  padding-top: 150px;
  text-align: center;
}

#principal-article aside:last-child p {
  font-size: 30px;
  font-family: 'Lato Light';
  color: #fff;
}

#principal-article a:hover aside:last-child p {
  color: #ff007f;
}

#article-thumbs {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#article-thumbs a {
  filter: sepia(100%);
}

#article-thumbs a:hover {
  filter: sepia(0%);
  text-decoration: none;
}

#article-thumbs a img {
  height: 230px;
}

#article-thumbs a div {
  position: relative;
  top: -80px;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  height: 70px;
  text-align: center;
}

#article-thumbs a div p {
  color: #fff;
}

#article-thumbs a:hover div p {
  text-decoration: none;
  color: #ff007f;
}