/*
 *= require_tree .
 *= require_self
*/

@import "bootstrap";
@import "bootstrap-sprockets";

html {
  background-image: url("african_pattern.png");
}

body {
  font-family: 'Montserrat', sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
  text-align: center;
}

footer small {
  font-style: italic;
}

footer small a {
  text-decoration: underline;
  color: #fff;
}
  footer small a:hover {
    color: #ccc;
  }

h3 {
  float: left;
  width: 100%;
  text-align: center;
  font-variant: small-caps;
}

#main {
  height: 100vw;
  background-color: #fff;
}

#logotype {
  padding-top: 20px;
}
  #logotype a img {
    display: block;
    margin: auto;
    width: 10%;
  }

.menu {
  width: 100%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}
  .menu a {
    float: left;
    width: 25%;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase; 
    color: #000;
  }
    .menu a:hover {
      font-weight: 300;
    }
