.menu-items {
        margin-left: 50px !important;
}

.menu-items-label {
        margin-left:10px;
}
  .menu-items-label:hover {
          text-decoration: underline;
  }

.status-activated {
  color: green !important;
}

.status-deactivated {
  color: red !important;
}
