.menu-items {
        margin-left: 50px !important;
}

.menu-items-label {
        margin-left:10px;
}
  .menu-items-label:hover {
        text-decoration: underline;
  }

.status-activated {
        color: green !important;
}

.status-deactivated {
        color: red !important;
}

.custom-modal-title {
        font-size: 20px;
        color: white;
}

.custom-modal-content {
        background-color: #525F7F;
}

.inspirations-icons svg {
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
}

.inspirations-image {
        width: 150%;
        height: 150%;
}
